# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings (like your screenshot)
.idea/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/

# dotenv
.env
.env.*

# SQLite DB
*.sqlite3
*.db

# Jupyter outputs
*.out

# Logs
*.log

# Ignore all task-remote-info.yaml files in all directories
**/task-remote-info.yaml
**/course-remote-info.yaml
**/lesson-remote-info.yaml
